<mat-tab-group 
  color="primary"
  (focusChange)='viewSwap($event)'
  [selectedIndex]='calendarView'
  backgroundColor="primary">

  <mat-tab label="Month">
    <mwl-calendar-month-view
    (dayClicked)='zoomWeek($event)'
      [viewDate]="viewDate"
      [events]="schedule">
    </mwl-calendar-month-view>
  </mat-tab>

  <mat-tab label="Week"> 
    <mwl-calendar-week-view
      [daysInWeek]=7
      [viewDate]='viewDate'
      [hourSegments]='1'
      [events]='schedule'
    ></mwl-calendar-week-view>
  </mat-tab>

  <mat-tab label="day">

  </mat-tab>

</mat-tab-group>
{{ calendarView }}